
/* = Screenshot
********************************************************************************/
.zoomin-container {
    margin-bottom:15px;
    display:block;
}
.screenshot {
    max-width:400px;
    @include transition-1;
    cursor:pointer;
}
.zoomin{
    max-width:90%;
    position:absolute;
    z-index:999;
    cursor:zoom-in;
    @include transition-1;
}
.icon-zoomin {
    position:relative;
    color:#fff;
    opacity:0.8;
    position:absolute;
    margin:5px 0 0 5px;
}
.caption {
    font-size:12px;
    display:block;
}
/* = Table
********************************************************************************/
th, td {
    border-bottom:solid 1px #ccc;
    padding:6px;
    text-align:left;
}
th {
    border-right:1px solid #ccc;
    background:#e8e8e8;
}
th:last-child {
    border-right:none;
}
tr:hover {
    background:#FCF;
}
/* = Static table
********************************************************************************/
.table-1 {
    border:solid 1px #ccc;
    width:100%;
    font-size:13px;
}
/* = DataTable
********************************************************************************/
#data-table_filter {
    margin-bottom:15px;
}
#data-table_filter .icon-search {
    position:relative;
    top:2px;
    left:-20px;
    color:#ccc;
}
.dataTables_scroll {
    border:solid 1px #ccc;
    border-bottom:none;
    font-size:13px;
}
/*SORTING*/
th.sorting_asc, th.sorting_desc, th.sorting {
    padding-right:23px;
    cursor:pointer;
}
th.sorting_asc span:before, th.sorting_desc span:before, th.sorting:hover span:before{
    content: "\78";
    font-family: 'icomoon';
    font-size:16px;
    color:$primary-blue;
    float:right;
    margin-right:-20px;
    height:0; /*Lame fix for extra padding added to TH which makes title jump */
}
th.sorting_desc span:before {
    content: "\7a";
}
th.sorting:hover span:before {
    color:#A8A8A8;
}
/*FOOTER*/
.dt-footer {
    border:solid 1px #ccc;
    border-top:none;
    background:#f0f0f0;
    padding:6px;
    font-size:13px;
    position:relative;
    color:#A8A8A8;
}
.dt-footer .dataTables_paginate {
    position:absolute;
    right:6px;
    top:6px;
    font-size:16px;
}
.dataTables_paginate a.disabled{
    color:#B8B8B8;
    cursor:default;
}
/* = Inputs
********************************************************************************/
input[type="search"] {
    border:solid 1px #ccc;
    border-radius:3px;
    background:#f8f8f8;
}